StagecraftOrganizer_ManagerApp/Service References/StagecraftOrganizingService/StagecraftOrganizingServiceHost.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StagecraftOrganizingService.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StagecraftOrganizingService.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSeatDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeatDetails" nillable="true" type="tns:SeatDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeatDetails" nillable="true" type="tns:ArrayOfSeatDetails" />
  <xs:complexType name="SeatDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="BgColour" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BlockNo" type="xs:int" />
      <xs:element minOccurs="0" name="Floor" type="xs:int" />
      <xs:element minOccurs="0" name="IsAvailableSeat" type="xs:boolean" />
      <xs:element minOccurs="0" name="RowNo" type="xs:int" />
      <xs:element minOccurs="0" name="SeatNo" type="xs:int" />
      <xs:element minOccurs="0" name="TicketDetails" nillable="true" type="tns:TicketDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeatDetails" nillable="true" type="tns:SeatDetails" />
  <xs:complexType name="TicketDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="TicketNo" type="xs:int" />
      <xs:element minOccurs="0" name="TicketPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="TicketType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TicketDetails" nillable="true" type="tns:TicketDetails" />
</xs:schema>