StagecraftOrganizer_ManagerApp/Service References/StagecraftOrganizingService/StagecraftOrganizingServiceHost3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7742/StagecraftOrganizingServiceHost.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StagecraftOrganizingService.DataContracts" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestUpdatedSeatList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestUpdatedSeatListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BookSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/StagecraftOrganizingService.DataContracts" minOccurs="0" name="seatDetailsList" nillable="true" type="q1:ArrayOfSeatDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookSeatsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookedSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StagecraftOrganizingService.DataContracts" minOccurs="0" name="seatDetails" nillable="true" type="q2:SeatDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookedSeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAvailibility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StagecraftOrganizingService.DataContracts" minOccurs="0" name="seatDetailsList" nillable="true" type="q3:ArrayOfSeatDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAvailibilityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMoreSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="noOfSeatsNeeded" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestMoreSeatsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUpdatedList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StagecraftOrganizingService.DataContracts" minOccurs="0" name="updatedSeatDetailsList" nillable="true" type="q4:ArrayOfSeatDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUpdatedListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendUpdatedSeatingList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/StagecraftOrganizingService.DataContracts" minOccurs="0" name="seatingList" nillable="true" type="q5:ArrayOfSeatDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyToGetUpdatedSeatingList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendBookedSeatDetailsToDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/StagecraftOrganizingService.DataContracts" minOccurs="0" name="seatDetails" nillable="true" type="q6:SeatDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyToCheckAvailabiltyOfSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/StagecraftOrganizingService.DataContracts" minOccurs="0" name="seatDetails" nillable="true" type="q7:ArrayOfSeatDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendAvailabiltyOfSeats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/StagecraftOrganizingService.DataContracts" minOccurs="0" name="seatDetails" nillable="true" type="q8:ArrayOfSeatDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRequestForMoreTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="noOfSeatsNeeded" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>